# Specify filepatterns you want git to ignore.
__pycache__
.vscode

*.pyc
*.ipynb
.python-version
.pytest_cache

dist/

## DEV files ##
*.log
*.log.*
*.log-*
nohup.out
*.pid
.coverage*

dev/local/
site/

# Debian build artifacts (but not debian/ source files)
debian/cuems-editor/
debian/*.deb
debian/*.log
debian/.debhelper/
